@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

@font-face {
    font-family: 'proxima';
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pyy-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.pyy-container img {
    height: 100%;
    width: 100%;
}


/* block 1 */

.pyy-block1-container {
    height: 627px;
    width: 100%;
}

.pyy-block1 {
    height: 627px;
    width: 100%;
    position: relative;
}

.pyy-block1-mobile {
    display: none;
}

.pyy-block1-1 {
    position: absolute;
    height: 100%;
    width: 100%;
}

.pyy-block1-1 img {
    object-fit: cover;
    object-position: 50% 50%;
}

.pyy-block1-2 {
    position: absolute;
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    top: 261px;
}

.pyy-block1-3 {
    position: absolute;
    width: 353px;
    height: 63px;
    top: 305px;
    left: calc(50% - 176.5px);
}

@media only screen and (max-width: 1440px) {
    .pyy-block1 {
        width: 1440px;
    }
}

@media only screen and (max-width: 768px) {
    .pyy-block1 {
        width: 100%;
    }

    .pyy-block1-mobile {
        display: block;
    }

    .pyy-block1-desktop {
        display: none;
    }
}

/* block 1 end */

/* block 2 */

.pyy-block2-container {
    height: 458px;
    width: 100%;
}

.pyy-block2 {
    height: 100%;
    width: 100%;
    position: relative;
}

.pyy-block2-1 {
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 146.5%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #525151;
    position: absolute;
    top: 36px;
}

.pyy-block2-2 {
    width: 220px;
    height: 55px;
    position: absolute;
    top: 73px;
    left: calc(50% - 110px);
}

.pyy-block2-3 {
    width: 100%;
    position: absolute;
    top: 130px;
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #525151;
}

.pyy-block2-4 {
    width: 100%;
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #525151;
    position: absolute;
    top: 64px;
}

.pyy-block2-5 {
    width: 1184px;
    height: 127px;
    position: absolute;
    top: 320px;
    left: calc(50% - 592px);
    background: #7A8E93;


}

.pyy-block2-5-container {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none !important;
}

.pyy-block2-5-1 {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #F2F1EC;
}

.pyy-block2-5-2 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 37px;
    text-align: center;
    color: #F2F1EC;
    margin: 0 100px;
}

.pyy-block2-5-3 {
    width: 178px;
    height: 42px;
    background: #F2F1EC;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #525151;
}

.pyy-block2-5-4 {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #F2F1EC;
}

.pyy-block2-5-4 .material-symbols-outlined {
    margin-left: 10px;
    font-size: 17px;
}

.pyy-block2-mobile {
    display: none;
}

@media only screen and (min-width: 769px) {
    .pyy-block2-5:hover {
        transition: 0.3s ease-in-out;
        -webkit-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.3);
    }

    .pyy-block2-5-3:hover {
        transition: 0.3s ease-in-out;
        -webkit-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.3);
    }
}

@media only screen and (max-width: 1440px) {
    .pyy-block2 {
        width: 1440px;
        height: 458px;
    }
}

@media only screen and (max-width: 768px) {
    .pyy-block2-container {
        height: 412px;
    }

    .pyy-block2 {
        width: 100%;
        height: 100%;
    }



    .pyy-block2-5 {
        width: 100%;
        height: 176px;
        top: unset;
        bottom: 0;
        left: 0;
    }

    .pyy-block2-5-container {
        flex-direction: column;
    }

    .pyy-block2-5-1 {
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        text-transform: capitalize;
    }

    .pyy-block2-5-2 {
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 31px;
        /* or 115% */

        text-align: center;
        text-transform: capitalize;
        margin: 20px 0;
    }

    .pyy-block2-desktop {
        display: none;
    }

    .pyy-block2-mobile {
        display: block;
    }

    .pyy-block2-mobile-cta {
        display: flex;
    }
}

/* block 2 end */

/* block 3 */

.pyy-block3-container {
    width: 100%;
    height: 297px;
}

.pyy-block3 {
    width: 100%;
    height: 100%;
    position: relative;
    background: #F2F1EC;
}

.pyy-block3-1 {
    width: 1440px;
    height: 208.55px;
    position: absolute;
    left: calc(50% - 720px);
    top: calc(50% - 104.275px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pyy-block3-1-card {
    height: 100%;
    width: 354.42px;
    position: relative;
}

.pyy-block3-1-card-image {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.pyy-block3-1-card-image img {
    transition: 0.2s ease-in-out;
}

.pyy-block3-1-card-author {
    font-family: 'proxima', 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #F2F1EC;

    position: absolute;
    bottom: 10px;
    right: 10px;
}

.pyy-block3-1-card-author-1 {
    color: #301D0C;
}

.pyy-block3-2 {
    height: 100%;
    width: 100%;
}

.pyy-block3-2-1 {
    height: 93.3333vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pyy-block3-2-1-1 {
    width: 62.9333vw;
    height: 100%;
    position: relative;
}

.pyy-block3-2-1-2 {
    height: 100%;
    width: 33.3333vw;
}

.pyy-block3-2-1-1-author {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 171.8%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #525151;

    position: absolute;
    top: calc(100% + 10px);
    left: 25px;
}

.pyy-block3-2-2 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #525151;
    width: 100%;
    position: absolute;
    top: calc(93.3333vw + 42px);
}

.pyy-block3-mobile {
    display: none;
}

@media only screen and (min-width: 769px) {
    .pyy-block3-1-card:hover img {
        transform: scale(1.05);
    }
}

@media only screen and (max-width: 1440px) {
    .pyy-block3 {
        width: 1440px;
        height: 297px;
    }
}

@media only screen and (max-width: 768px) {
    .pyy-block3-container {
        width: 100%;
        height: calc(93.3333vw + 232px);
    }

    .pyy-block3 {
        width: 100%;
        height: 100%;
    }

    .pyy-block3-mobile {
        display: block;
    }

    .pyy-block3-desktop {
        display: none;
    }

}

/* block 3 end */

/* block 4 */

.pyy-block4-container {
    width: 100%;
    height: 260px;
}

.pyy-block4 {
    width: 100%;
    height: 260px;
    position: relative;
}

.pyy-block4-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.pyy-block4-1 img {
    object-fit: cover;
    object-position: 50% 50%;
}

.pyy-block4-2 {
    width: 877px;
    height: 162.7px;
    position: absolute;
    left: calc(50% - 438.5px);
    top: calc(50% - 81.35px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pyy-block4-2-openQuote {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 400;
    font-size: 77px;
    line-height: 86px;
    text-align: center;
    color: #F2F1EC;

    position: absolute;
    top: 0;
    left: 0;
}

.pyy-block4-2-closeQuote {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 400;
    font-size: 77px;
    line-height: 25px;
    text-align: center;
    color: #F2F1EC;

    position: absolute;
    bottom: 0;
    right: 10px;
}

.pyy-block4-2-text {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    text-align: center;
    color: #F2F1EC;
}

.pyy-block4-mobile {
    display: none;
}

@media only screen and (max-width: 1440px) {
    .pyy-block4 {
        width: 1440px;
        height: 260px;
    }
}

@media only screen and (max-width: 768px) {
    .pyy-block4-container {
        height: 315px;
    }

    .pyy-block4 {
        width: 100%;
        height: 100%;
    }

    .pyy-block4-2 {
        height: 100%;
        width: 100%;
        left: unset;
        top: unset;
        flex-direction: column;
    }

    .pyy-block4-2-openQuote {
        top: 41px;
        left: unset;
        width: 100%;
        text-align: center;
        font-size: 55px;
        line-height: 61px;
    }

    .pyy-block4-2-closeQuote {
        right: unset;
        bottom: 12px;
        width: 100%;
        text-align: center;
        font-size: 55px;
        line-height: 61px;
    }

    .pyy-block4-2-text {
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
    }

    .pyy-block4-mobile {
        display: block;
    }

    .pyy-block4-desktop {
        display: none;
    }
}

/* block 4 end */

/* block 5 */

.pyy-block5-container {
    width: 100%;
    height: 623px;
    background: #F2F1EC;
}

.pyy-block5 {
    width: 1440px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    background: #F2F1EC;
}

.pyy-block5 img {
    transition: 0.2s ease-in-out;
}

.pyy-block5-1 {
    width: 559px;
    height: 466px;
    position: absolute;
    left: 0;
    top: 92px;
}

.pyy-block5-card-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.pyy-block5-image-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.pyy-block5-author {
    font-family: 'proxima', 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 14px;
    text-align: right;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #525151;
    position: absolute;
}

.pyy-block5-author-1 {
    top: calc(100% + 10px);
    right: 0;
}

.pyy-block5-author-2 {
    top: calc(100% + 10px);
    left: 0;
}

.pyy-block5-2 {
    width: 196px;
    height: 264px;
    position: absolute;
    top: 27px;
    left: calc(100% - 196px);
}

.pyy-block5-3 {
    width: 196px;
    height: 264px;
    position: absolute;
    top: 321px;
    left: calc(100% - 196px);
}

.pyy-block5-4 {
    position: absolute;
    top: 217px;
    left: 609px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pyy-block5-4-1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #525151;
}

.pyy-block5-4-2 {
    width: 502px;
    height: 125px;
    margin: 10px 0;
}

.pyy-block5-4-3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #F2F1EC !important;

    width: 177px;
    height: 42px;
    background: #525151;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
}

.pyy-block5-mobile {
    display: none;
}

@media only screen and (min-width: 769px) {
    .pyy-block5-1:hover img {
        transform: scale(1.05);
    }

    .pyy-block5-2:hover img {
        transform: scale(1.05);
    }

    .pyy-block5-3:hover img {
        transform: scale(1.05);
    }

    .pyy-block5-4-3:hover {
        transition: 0.3s ease-in-out;
        -webkit-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.3);
    }
}

@media only screen and (max-width: 1440px) {
    .pyy-block5 {
        width: 1440px;
        height: 623px;
    }
}

@media only screen and (max-width: 768px) {
    .pyy-block5-container {
        height: 428px;
    }

    .pyy-block5 {
        width: 100%;
        height: 100%;
    }

    .pyy-block5-4 {
        width: 100%;
        height: 100%;
        top: unset;
        left: unset;
        justify-content: center;
        align-items: center;
    }

    .pyy-block5-4-1 {
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 3px;
    }

    .pyy-block5-4-2 {
        width: 297px;
        height: 77px;
        margin: 10px 0 5px 0;
    }

    .pyy-block5-desktop {
        display: none;
    }

    .pyy-block5-mobile {
        display: block;
    }
}

/* block 5 end */

/* block 6 */

.pyy-block6-container {
    width: 100%;
    height: 449px;
}

.pyy-block6 {
    width: 100%;
    height: 100%;
    position: relative;
}

.pyy-block6-gleam-container {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 1px solid black;
}

@media only screen and (max-width: 1440px) {
    .pyy-block6 {
        width: 1440px;
        height: 449px;
    }
}

@media only screen and (max-width: 768px) {
    .pyy-block6-container {
        width: 100%;
        height: 570px;
    }

    .pyy-block6 {
        width: 100%;
        height: 100%;
    }
}

/* block 6 end */

/* block 7 */

.pyy-block7-container {
    width: 100%;
    height: 4097px;
    background: #F2F1EC;
}

.pyy-block7 {
    height: 100%;
    width: 100%;
    position: relative;
    background: #F2F1EC;
}

.pyy-block7-image-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.pyy-block7-relative-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.pyy-block7-image-container img {
    transition: 0.2s ease-in-out;
}

.pyy-block7-author {
    font-family: 'proxima', 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #525151;
}

.pyy-block7-desktop-header {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    color: #525151;
}

.pyy-block7-desktop-subhead {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #525151;
    margin: 10px 0 20px 0;
}

.pyy-block7-desktop-cta {
    background: #525151;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #F2F1EC;
    height: 42px;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pyy-block7-1 {
    width: 100%;
    position: absolute;
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    color: #525151;
    top: 73px;
}

.pyy-block7-2 {
    width: 1440px;
    height: 660px;
    position: absolute;
    top: 195px;
    left: calc(50% - 720px);
}

.pyy-block7-2-1 {
    width: 724px;
    height: 490px;
    position: absolute;
    top: 0;
    left: 0;
}

.pyy-block7-2-2 {
    width: 130px;
    height: 154px;
    position: absolute;
    top: 506px;
    left: 108px;
}

.pyy-block7-2-3 {
    width: 130px;
    height: 154px;
    position: absolute;
    top: 506px;
    left: 249px;
}

.pyy-block7-2-4 {
    position: absolute;
    top: 139px;
    left: 780px;
}

.pyy-block7-2-3-author {
    position: absolute;
    top: calc(100% + 10px);
}

.pyy-block7-desktop-cta-1 {
    width: 179px;
}

.pyy-block7-3 {
    position: absolute;
    top: 774px;
    width: 1440px;
    left: calc(50% - 720px);
}

.pyy-block7-3-1 {
    width: 540.05px;
    height: 638px;
    position: absolute;
    top: 0;
    left: 900px;
}

.pyy-block7-3-1-subtitle {
    width: 405px;
    height: 100px;
    position: absolute;
    top: 567.91px;
    right: 477.05px;
    z-index: 2;
}

.pyy-block7-3-2 {
    position: absolute;
    right: 629px;
    top: 275px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pyy-block7-3-2 .pyy-block7-desktop-subhead {
    text-align: right;
}

.pyy-block7-desktop-cta-2 {
    width: 219px;
}

.pyy-block7-4 {
    position: absolute;
    width: 1440px;
    left: calc(50% - 720px);
    top: 1550px;
}

.pyy-block7-4-1 {
    position: absolute;
    width: 451px;
    height: 523px;
    top: 0;
    left: 0;
}

.pyy-block7-4-2 {
    width: 151px;
    height: 182px;
    position: absolute;
    top: 0;
    left: 462px;
}

.pyy-block7-4-3 {
    width: 151px;
    height: 182px;
    position: absolute;
    top: 193px;
    left: 462px;
}

.pyy-block7-4-2-author {
    position: absolute;
    top: calc(100% + 10px);
}

.pyy-block7-4-4 {
    position: absolute;
    top: 147px;
    left: 643px;
}

.pyy-block7-desktop-cta-3 {
    width: 179px;
}

.pyy-block7-5 {
    position: absolute;
    top: 2099px;
    width: 1440px;
    left: calc(50% - 720px);
}

.pyy-block7-5-1 {
    position: absolute;
    width: 444px;
    height: 609px;
    top: 0;
    right: 0;
}

.pyy-block7-5-2 {
    position: absolute;
    width: 148px;
    height: 250px;
    top: 194px;
    right: 466px;
}

.pyy-block7-5-2-author {
    position: absolute;
    top: calc(100% + 10px);
}

.pyy-block7-5-3 {
    width: 148px;
    height: 140px;
    position: absolute;
    right: 466px;
    top: 473px;
}

.pyy-block7-5-4 {
    position: absolute;
    top: 226.91px;
    right: 674px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pyy-block7-5-4 .pyy-block7-desktop-subhead {
    text-align: right;
}

.pyy-block7-desktop-cta-4 {
    width: 189px;
}

.pyy-block7-6 {
    position: absolute;
    width: 1440px;
    left: calc(50% - 720px);
    top: 2739px;
}

.pyy-block7-6-1 {
    width: 720px;
    height: 483px;
    position: absolute;
    top: 0;
    left: 0;
}

.pyy-block7-6-2 {
    width: 303.5px;
    height: 100px;
    position: absolute;
    top: 414px;
    left: 681px;
}

.pyy-block7-6-3 {
    position: absolute;
    top: 140.91px;
    left: 789px;
}

.pyy-block7-desktop-cta-5 {
    width: 172px;
}

.pyy-block7-7 {
    position: absolute;
    width: 1440px;
    top: 3358.91px;
    left: calc(50% - 720px);
    height: 597px;
}

.pyy-block7-7-1 {
    width: 480px;
    height: 597px;
    position: absolute;
    top: 0;
    left: 64px;
}

.pyy-block7-7-1-author {
    position: absolute;
    top: 16px;
    right: 23px;
    color: #000000;
}

.pyy-block7-7-2 {
    width: 331px;
    height: 356px;
    position: absolute;
    top: 0;
    left: 553px;
    z-index: 2;
}

.pyy-block7-7-2-author {
    position: absolute;
    color: #F2F1EC;
    bottom: 10px;
    right: 10px;
}

.pyy-block7-7-3 {
    width: 138px;
    height: 232px;
    position: absolute;
    top: 365px;
    left: 553px;
}

.pyy-block7-7-3-author {
    position: absolute;
    top: 12px;
    right: 10px;
    color: #525151;
}

.pyy-block7-7-4 {
    width: 184px;
    height: 231px;
    position: absolute;
    top: 365px;
    left: 700px;
}

.pyy-block7-7-5 {
    width: 484px;
    height: 597px;
    position: absolute;
    top: 0;
    left: 893px;
}

.pyy-block7-7-5-author {
    position: absolute;
    left: 22px;
    bottom: 15px;
    color: #FFFFFF;
}

.pyy-block7-7-6 {
    width: 450px;
    height: 165px;
    position: absolute;
    bottom: 501.91px;
    left: 140px;
}

.pyy-block7-7-7 {
    width: 242px;
    height: 224px;
    position: absolute;
    top: 444.09px;
    left: 1090px;
}

.pyy-block7-mobile {
    display: none;
}

@media only screen and (min-width: 769px) {
    .pyy-block7-image-container:hover img {
        transform: scale(1.05);
    }

    .pyy-block7-desktop-cta:hover {
        transition: 0.3s ease-in-out;
        -webkit-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.3);
    }
}

@media only screen and (max-width: 1440px) {
    .pyy-block7 {
        width: 1440px;
        height: 4097px;
    }
}

@media only screen and (max-width: 768px) {
    .pyy-block7-container {
        width: 100%;
        height: 1418px;
    }

    .pyy-block7 {
        width: 100%;
        height: 100%;
    }

    .pyy-block7-1 {
        font-size: 27px;
        line-height: 31px;
    }

    .pyy-block7-mobile {
        display: block;
    }

    .pyy-block7-desktop {
        display: none;
    }
}

/* block 7 end */